<div class="container">
  <h1>Grammarly + Quill Editor</h1>
  <p>
    Laboratorio para implementar grammarly con quill editor, buscando la
    estabilidad y compatibilidad de estas dos herramientas juntas. 🔧
  </p>
  <div class="text-box-container">
    <div class="quill-container" *ngFor="let quill of quills">
      <quill-editor [(ngModel)]="quill.text"></quill-editor>
    </div>
  </div>

  <button (click)="toggleGrammarly()">{{ !toggle ? 'Desconectar' : 'Contectar'}} Grammarly </button>
</div>
